.archiveContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 150px 0;
}

.archiveColumn {
    display: flex;
    flex-direction: column;
    margin: 0 15px
}

.archivePhoto {
    width: 285px;
    margin-top: 20px;
}

.archivePhoto3Container {
    position: relative;
    overflow: hidden;
    height: 228px;
    margin-top: 20px;
}
  
.archivePhoto3 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}