.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 0 10px;
}

.homeWrapper {
    max-width: 1200px;
}

.topText {
    text-align: center;
}

.homePhoto {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.bottomText {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
}